@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.navbar {
    background-color: #0d9aaac5;
    box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.16), 
    0 2px 10px rgba(0, 0, 0, 0.12);

} 

.btn {
    font-weight: bold;
}

.username {
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    align-items: center;
    margin-left: 160px;
}

.btn:hover {
    color: white;
}

/* #styledNav{
    box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.16), 
    0 2px 10px rgba(0, 0, 0, 0.12);
} */