.navbar {
    background-color: #0d9aaac5;
} 

.btn {
    font-weight: bold;
}

.username {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    margin-left: 160px;
    /* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */

}

.btn:hover {
    color: white;
}