@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.navbar {
    background-color: #0d9aaac5;
} 

.btn {
    font-weight: bold;
}

.username {
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    align-items: center;
    margin-left: 160px;
}

.btn:hover {
    color: white;
}