.plus-sign {
    background-color: #0d9aaa!important;
    color: white!important;
}

.add-item-button {
    color: #0d9aaa!important;
    background-color: white!important
}

.add-item-button:hover {
    color: white!important;
    background-color: #0d9aaa!important;
}

.modal-button:hover {
    color: white!important;
    background-color: #0d9aaa!important;
}

.modal-button {
    color: #0d9aaa!important;
    background-color: white!important
}

#alert-dialog-slide-description {
    text-align: center;
}

#alert-dialog-slide-description a {
    color: #fb9e1b;
}

#alert-dialog-slide-description a:hover {
    text-decoration: none;
    color: #0d9aaa
}

p#alert-dialog-slide-description {
    line-height: 1.75;
}

.MuiButton-outlinedPrimary-10 {
    color: #0d9aaa!important;
    border: 1px solid #0d9aaa!important
}

.MuiButton-outlinedPrimary-10:hover {
    background-color: #0d9aaa!important;
    color: white!important;
}

.items-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 130px;
}

body {
    background-image: url(./wave-bg.png);
}

.list-overflow-container {
    box-shadow: 2px 5px 18px 5px #888888!important;
    margin-top: 40px;
}

.add-item {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.MuiTypography-title-89 {
    color:#0d9aaa!important;
}

.MuiOutlinedInput-root-142 .MuiOutlinedInput-notchedOutline-149 {
    border-color: #fb9e1b!important;
}

label {
    color: #9f7694
}

.MuiFormLabel-root-135.MuiFormLabel-focused-136 {
    color: #0d9aaa!important;
}

.list-item-btn:hover {
    color: white!important;
    background-color: #0d9aaa!important;
}